.error-message {
  position: absolute;
  height: 50px;
  z-index: 9;
  background-color: #170202;
  font-size: 30px;
  color: #dfcf77;
  line-height: 45px;
  top: 50px;
  padding: 0 10px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid red;
  border-radius: 115px;
}